﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a href="maxseer.ds.html" name="" title="maxseer.ds">maxseer.ds</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="maxseer.ds.SerializableDictionary-2.html" name="" title="SerializableDictionary&lt;TKey, TValue&gt;">SerializableDictionary&lt;TKey, TValue&gt;</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="maxseer.engine.html" name="" title="maxseer.engine">maxseer.engine</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="maxseer.engine.MaxSeerEngine.html" name="" title="MaxSeerEngine">MaxSeerEngine</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="maxseer.engine.map.geometry.html" name="" title="maxseer.engine.map.geometry">maxseer.engine.map.geometry</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="maxseer.engine.map.geometry.Polygon.html" name="" title="Polygon">Polygon</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="maxseer.engine.map.label.html" name="" title="maxseer.engine.map.label">maxseer.engine.map.label</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="maxseer.engine.map.label.AXLabel.html" name="" title="AXLabel">AXLabel</a>
                          </li>
                          <li>
                              <a href="maxseer.engine.map.label.AXLabelArea.html" name="" title="AXLabelArea">AXLabelArea</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="maxseer.engine.map.path.html" name="" title="maxseer.engine.map.path">maxseer.engine.map.path</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="maxseer.engine.map.path.Path.html" name="" title="Path">Path</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="maxseer.engine.map.path.sound.html" name="" title="maxseer.engine.map.path.sound">maxseer.engine.map.path.sound</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="maxseer.engine.map.path.sound.SoundPath.html" name="" title="SoundPath">SoundPath</a>
                          </li>
                          <li>
                              <a href="maxseer.engine.map.path.sound.SoundPathSequence.html" name="" title="SoundPathSequence">SoundPathSequence</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="maxseer.engine.sound.html" name="" title="maxseer.engine.sound">maxseer.engine.sound</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="maxseer.engine.sound.ISoundController.html" name="" title="ISoundController">ISoundController</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="maxseer.engine.sound.effect.html" name="" title="maxseer.engine.sound.effect">maxseer.engine.sound.effect</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="maxseer.engine.sound.effect.IMaxSoundEffect.html" name="" title="IMaxSoundEffect">IMaxSoundEffect</a>
                          </li>
                          <li>
                              <a href="maxseer.engine.sound.effect.MaxSoundEffect.html" name="" title="MaxSoundEffect">MaxSoundEffect</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="maxseer.engine.sound.emitter.html" name="" title="maxseer.engine.sound.emitter">maxseer.engine.sound.emitter</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="maxseer.engine.sound.emitter.ISoundEmitter.html" name="" title="ISoundEmitter">ISoundEmitter</a>
                          </li>
                          <li>
                              <a href="maxseer.engine.sound.emitter.ISoundListener.html" name="" title="ISoundListener">ISoundListener</a>
                          </li>
                          <li>
                              <a href="maxseer.engine.sound.emitter.SoundEmitter.html" name="" title="SoundEmitter">SoundEmitter</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="maxseer.engine.sound.proximity.html" name="" title="maxseer.engine.sound.proximity">maxseer.engine.sound.proximity</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="maxseer.engine.sound.proximity.ProximityDetectorContainer.html" name="" title="ProximityDetectorContainer">ProximityDetectorContainer</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="maxseer.options.html" name="" title="maxseer.options">maxseer.options</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="maxseer.options.MaxSeerOptions.html" name="" title="MaxSeerOptions">MaxSeerOptions</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="maxseer.options.optiongroup.html" name="" title="maxseer.options.optiongroup">maxseer.options.optiongroup</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="maxseer.options.optiongroup.AXLabelOptions.html" name="" title="AXLabelOptions">AXLabelOptions</a>
                          </li>
                          <li>
                              <a href="maxseer.options.optiongroup.MapOptions.html" name="" title="MapOptions">MapOptions</a>
                          </li>
                          <li>
                              <a href="maxseer.options.optiongroup.SoundOptions.html" name="" title="SoundOptions">SoundOptions</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="maxseer.resources.html" name="" title="maxseer.resources">maxseer.resources</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="maxseer.resources.ISoundResourceManager.html" name="" title="ISoundResourceManager">ISoundResourceManager</a>
                          </li>
                          <li>
                              <a href="maxseer.resources.SoundResourceManager.html" name="" title="SoundResourceManager">SoundResourceManager</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>